<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">
		
		<title>ScreenRate | Review</title>

		<!-- Loading third party fonts -->
		<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700|" rel="stylesheet" type="text/css">
		<link href="fonts/font-awesome.min.css" rel="stylesheet" type="text/css">

		<!-- Loading main css file -->
		<link rel="stylesheet" href="static/style.css">
		
		<!--[if lt IE 9]>
		<script src="{{ url_for('static', filename='js/ie-support/html5.js')}}"></script>
		<script src="{{ url_for('static', filename='js/ie-support/respond.js')}}"></script>
		<![endif]-->

	</head>


	<body>
		

		<div id="site-content">
			<header class="site-header">
				<div class="container">
					<a href="/" id="branding">
						<img src="{{ url_for('static', filename='images/logo.png')}}" alt="" class="logo">
						<div class="logo-copy">
							<h1 class="site-title">ScreenRate</h1>
							<small class="site-description">suggest your favourite movies to world</small>
						</div>
					</a> <!-- #branding -->

					<div class="main-navigation">
						<button type="button" class="menu-toggle"><i class="fa fa-bars"></i></button>
						<ul class="menu">
							<li class="menu-item"><a href="/">Home</a></li>
							<li class="menu-item"><a href="{{url_for('about')}}">About</a></li>
							<li class="menu-item current-menu-item"><a href="{{url_for('review')}}">Movie reviews</a></li>
							<li class="menu-item"><a href="{{url_for('ranking')}}">Ranking</a></li>
							<li class="menu-item"><a href="{{url_for('contact')}}">Contact</a></li>
						</ul> <!-- .menu -->

						<form action="#" class="search-form">
							<input type="text" placeholder="Search...">
							<button><i class="fa fa-search"></i></button>
						</form>
					</div> <!-- .main-navigation -->

					<div class="mobile-navigation"></div>
				</div>
			</header>
			<main class="main-content">
				<div class="container">
					<div class="page">
						<div class="breadcrumbs">
							<a href="/">Home</a>
							<span>Movie Review</span>
						</div>

						<div class="filters">
							<select name="#" id="#" placeholder="Choose Category">
								<option value="#">Action</option>
								<option value="#">Drama</option>
								<option value="#">Fantasy</option>
								<option value="#">Horror</option>
								<option value="#">Adventure</option>
							</select>
							<select name="#" id="1">
								<option value="#">2012</option>
								<option value="#">2013</option>
								<option value="#">2014</option>
							</select>
						</div>
						<div class="movie-list">
							<div class="movie">
								<figure class="movie-poster"><img src="{{ url_for('static', filename='dummy/thumb-3.jpg')}}" alt="#"></figure>
								<div class="movie-title"><a href="{{url_for('single')}}">God Is a Bullet</a></div>
								<p>Sed ut perspiciatis unde omnis iste natus error voluptatem doloremque.</p>
							</div>
							<div class="movie">
								<figure class="movie-poster"><img src="{{ url_for('static', filename='dummy/thumb-4.jpg')}}" alt="#"></figure>
								<div class="movie-title"><a href="{{url_for('single')}}">Avatar</a></div>
								<p>Sed ut perspiciatis unde omnis iste natus error voluptatem doloremque.</p>
							</div>
							<div class="movie">
								<figure class="movie-poster"><img src="{{ url_for('static', filename='dummy/thumb-5.jpg')}}" alt="#"></figure>
								<div class="movie-title"><a href="{{url_for('single')}}">Spider Man</a></div>
								<p>Sed ut perspiciatis unde omnis iste natus error voluptatem doloremque.</p>
							</div>
							<div class="movie">
								<figure class="movie-poster"><img src="{{ url_for('static', filename='dummy/thumb-6.jpg')}}" alt="#"></figure>
								<div class="movie-title"><a href="{{url_for('single')}}">Garfield</a></div>
								<p>Sed ut perspiciatis unde omnis iste natus error voluptatem doloremque.</p>
							</div>
							<div class="movie">
								<figure class="movie-poster"><img src="{{ url_for('static', filename='dummy/thumb-1.jpg')}}" alt="#"></figure>
								<div class="movie-title"><a href="{{url_for('single')}}">Legally Blonde 2</a></div>
								<p>Sed ut perspiciatis unde omnis iste natus error voluptatem doloremque.</p>
							</div>
							<div class="movie">
								<figure class="movie-poster"><img src="{{ url_for('static', filename='dummy/thumb-2.jpg')}}" alt="#"></figure>
								<div class="movie-title"><a href="{{url_for('single')}}">BoJack Horseman</a></div>
								<p>Sed ut perspiciatis unde omnis iste natus error voluptatem doloremque.</p>
							</div>
							<div class="movie">
								<figure class="movie-poster"><img src="{{ url_for('static', filename='dummy/thumb-7.jpg')}}" alt="#"></figure>
								<div class="movie-title"><a href="{{url_for('single')}}">Life of Pi</a></div>
								<p>Sed ut perspiciatis unde omnis iste natus error voluptatem doloremque.</p>
							</div>
							<div class="movie">
								<figure class="movie-poster"><img src="{{ url_for('static', filename='dummy/thumb-8.jpg')}}" alt="#"></figure>
								<div class="movie-title"><a href="{{url_for('single')}}">Speed Racer</a></div>
								<p>Sed ut perspiciatis unde omnis iste natus error voluptatem doloremque.</p>
							</div>
						</div> <!-- .movie-list -->

						<div class="pagination">
							<a href="#" class="page-number prev"><i class="fa fa-angle-left"></i></a>
							<span class="page-number current">1</span>
							<a href="#" class="page-number">2</a>
							<a href="#" class="page-number">3</a>
							<a href="#" class="page-number">4</a>
							<a href="#" class="page-number">5</a>
							<a href="#" class="page-number next"><i class="fa fa-angle-right"></i></a>
						</div>
					</div>
				</div> <!-- .container -->
			</main>
			<footer class="site-footer">
				<div class="container">
					<div class="row">
						<div class="col-md-2">
							<div class="widget">
								<h3 class="widget-title">About Us</h3>
								<p>Explore our website to discover a world of movies. Enjoy your cinematic journey with us!</p>
							</div>
						</div>

						<div class="col-md-2">
							<div class="widget">
								<h3 class="widget-title">Help Center</h3>
								<p>For Troubleshooting please fill out the Feedback form on Contact page</p>
							</div>
						</div>

						<div class="col-md-2">
							<div class="widget">
								<h3 class="widget-title">Social Media</h3>
								<ul class="no-bullet">
									<li>Facebook</li>
									<li>Twitter</li>
									<li>Google+</li>
									<li>Pinterest</li>
								</ul>
							</div>
						</div>
						<div class="col-md-2">
							<div class="widget">
								<h3 class="widget-title">Newsletter</h3>
								<form action="#" class="subscribe-form">
									<input type="text" placeholder="Email Address">
								</form>
							</div>
						</div>
					</div> <!-- .row -->

					<div class="colophon">Quiz-Project-Flask/2023</div>
				</div> <!-- .container -->

			</footer>
		</div>
		<!-- Default snippet for navigation -->
		


		<script src="js/jquery-1.11.1.min.js"></script>
		<script src="js/plugins.js"></script>
		<script src="js/app.js"></script>
		
	</body>

</html>